=form_for author do |f|
    =f.error_messages
    %table
        %tr
            %td=f.label :fname, "Imię"
            %td=f.text_field :fname
        %tr 
            %td=f.label :lname, "Nazwisko"
            %td=f.text_field :lname
        %tr
            %td=f.label :born_date, "Data urodzenia"
            %td=f.text_field :born_date
    = submit_tag 'Wyślij'
=link_to "Wróć", authors_path
