=form_for book do |f|
    =f.error_messages
    %table
        %tr
            %td=f.label :name, "Tytuł"
            %td=f.text_field :name
        %tr 
            %td=f.label :description, "Opis"
            %td=f.text_area :description
        %tr
            %td=label_tag "author_ids", "Autorzy"
            %td=select_tag("author_ids[]", options_for_select(Author.find(:all).collect { |a| [a.name, a.id] }, @authors.collect { |a| a.id}), {:multiple=>true, :size=>6})
    = submit_tag 'Wyślij'
=link_to "Wróć", books_path
