%h1 Lista książek
%ul
- @books.each do |book|
    %li 
        =book.name
        =book.description
        =link_to "Pokaż", book
        =link_to "Edytuj", edit_book_path(book)
        =link_to "Usuń",  book, :method => :delete
=link_to "Dodaj książkę", new_book_path
