%h1 Książka 
%ul 
    %li
        Tytuł:
        =@book.name
        
    %li
        Opis:
        =@book.description
Autorzy:
%ul
    -@book.authors.each do |a|
        %li=a.name
%p
    =link_to "Edytuj", edit_book_path(@book)
    |
    =link_to "Usuń",  @book, :method => :delete

%h3 Komentarze:
%ul
    -@book.comments.each do |com|
        %li
            %p=com.content
            %span
                Autor:
                =com.author
                Dodano:
                =com.created_at.strftime("%d/%m/%Y %H:%M")
                = link_to 'Usuń komentarz', [com.book, com], :confirm => 'Czy jesteś pewny?', :method => :delete

=form_for([@book, @book.comments.build]) do |f|
    %table
        %tr
            %td=f.label :author, "Autor"
            %td=f.text_field :author
        %tr
            %td=f.label :content, "Treść"
            %td=f.text_area :content
    =f.submit "Dodaj komentarz"
     
