%h1 
    Książka 
    =@book.name
%p 
    Opis:
    =@book.description
Autorzy:
%ul
    -@book.authors.each do |a|
        %li=a.name
%p
    =link_to "Edytuj", edit_book_path(@book)
    |
    =link_to "Usuń",  @book, :method => :delete

%h3 Komentarze:
%ul
    -@book.comments.each do |com|
        %li
            =com.content
            =com.author
            =com.created_at
            = link_to 'Usuń komentarz', [com.book, com], :confirm => 'Czy jesteś pewny?', :method => :delete

=form_for([@book, @book.comments.build]) do |f|
    =f.label :author
    =f.text_field :author
    =f.label :content
    =f.text_area :content
    =f.submit "Dodaj komentarz"
     
